# Be deliberate about what we push up in the public repo
.DS_Store
*

# used by tree-sitter-cli 
!package.json
!pnpm-lock.yaml

# nvim
!nvim/
!nvim/.config/
!nvim/.config/**
!nvim/.config/nvim/*

# yazi
!yazi/
!yazi/.config
!yazi/.config/**

# alacritty
!alacritty/
!alacritty/.config/
!alacritty/.config/**

!tmux/
!tmux/**

!wezterm/
!wezterm/**

!ghostty/
!ghostty/**
## push theme folder but ignore custom file
ghostty/.config/ghostty/custom/config

# zsh config
!zsh
!zsh/.zshrc
!zsh/.config
!zsh/.config/zsh
!zsh/.config/zsh/*
zsh/.config/zsh/secrets.zsh

!omp/
!omp/.config/
!omp/.config/**

!mise/
!mise/.config/
!mise/.config/**

!.stow-local-ignore

!README.md
!install.txt
!install.sh
!Brewfile

!nushell/
!nushell/.config/
!nushell/.config/**

!starship/
!starship/.config/
!starship/.config/**

!bash/
!bash/**

!gitui/
!gitui/.config/
!gitui/.config/**

!git/
!git/**
