# Be deliberate about what we push up in the public repo
.DS_Store
*

# nvim
!nvim/
!nvim/.config/
!nvim/.config/**
!nvim/.config/nvim/*

# yazi
!yazi/
!yazi/.config
!yazi/.config/**

# alacritty
!alacritty/
!alacritty/.config/
!alacritty/.config/**

!tmux/
!tmux/**

!wezterm/
!wezterm/**

# zsh config
!zsh
!zsh/.zshrc
!zsh/.config
!zsh/.config/zsh
!zsh/.config/zsh/*
zsh/.config/zsh/secrets.zsh

!.stow-local-ignore

!README.md
!install.txt
